*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.usernav-wrapper{
    width: 100%;
    background-color: #F5F5F5;
    border-bottom: 1px solid #eee;

}
.usernav-wrapper .usernav-content{
    width:1190px;
    margin: 0 auto;
    height: 35px;
}
.usernav-wrapper .usernav-content .usernav-content-left{
    float: left;
}
.usernav-wrapper .usernav-content .usernav-content-left li{
    float:left;
    padding: 0 7px;
}
.usernav-wrapper .usernav-content .usernav-content-left li div{
    height:35px;
    line-height: 35px;
}
.usernav-wrapper .usernav-content .usernav-content-left li a{
    font-size: 12px;
    color: #6c6c6c;
    float: left;
    margin-right: 7px;
}
.usernav-wrapper .usernav-content .usernav-content-left li span{
    float: left;
    margin-right: 7px;
    margin-top: 15px;
    width:5px;
    height: 5px;
    background-image: url(img/dropdown.png);
    background-size: 5px;
    background-position: 5px 5px;
}
.usernav-wrapper .usernav-content .usernav-content-left li a:hover{
    color:#f40;
}


.usernav-wrapper .usernav-content-right{
    float: right;
}

.usernav-wrapper .usernav-content-right li{
    float: left;
    padding: 0 7px;
}
.usernav-wrapper .usernav-content-left li .usernm{
    max-width: 98px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.usernav-wrapper .usernav-content-right li div{
    height: 35px;
    line-height: 35px;
}
.usernav-wrapper .usernav-content-right li a{
    font-size: 12px;
    color: #6c6c6c;
    float: left;
    margin-right: 7px;
}
.usernav-wrapper .usernav-content-right li.line{
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    color: #E2DDDD;
}
.usernav-wrapper .usernav-content-right li span{
    float: left;
    margin-right: 7px;
    margin-top: 15px;
    width:5px;
    height: 5px;
    background-image: url(img/dropdown.png);
    background-size: 5px;
    background-position: 5px 5px;
}
.usernav-wrapper .usernav-content-right li a:hover{
    color:#f40;
}
.usernav-wrapper .usernav-content-right li .star{
    margin-top: 8px;
    margin-right: 0;
    width:20px;
    height: 20px;
    background-image: url(img/star.png);
    background-size: 10px;
    background-repeat: no-repeat;
}
/* nav 样式结束 */



.taobao-body{
    width :1190px;
    margin: 20px auto;
}
.taobao-body .head{
    position: relative;
}
.taobao-body .head .head-search{
    width:550px;
    height:50px;
    margin: 5px auto;
}
.taobao-body .head .head-logo{

    position: absolute;
    top:0;
    left:0;
    width:146px;
    
}
.taobao-body .head .head-logo a{
    display: block;
    padding-top:67px;
    height: 0;
    overflow: hidden;
    background-image: url(http://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
    background-repeat: no-repeat;

}
.taobao-body .head .qrcode{
    height:95px;
    border: 1px solid #EEE;
    position: absolute;
    top: 0;
    right:120px;
    padding: 0 6px;
}
.taobao-body .head .qrcode span{
    color:#F40;
    font-size: 12px;
}
.taobao-body .head .qrcode a{
    display: block;
    height: 90px;
    background-image: url(img/qrcode.png);
    background-size: 68px 68px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.taobao-body .head .head-search ul li{
    float: left;
    color:#F40;
    font-size: 12px;
    padding:5px 8px;
    margin: 1px;
    cursor: pointer;
}
.taobao-body .head .head-search ul li:hover{
    background-color: #FFEEE5;
}
.taobao-body .head .head-search ul li.trigger{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(to right,#FF8F00,#FF5100);
    color: #FFF;
}
.taobao-body .head .head-search .search-box{
    border:2px solid #FF5000;
    border-radius: 19px;
    height:36px;
    margin-top: -1px;
    margin-left: -30px;
    position: relative;
}
.taobao-body .head .head-search .search-box .content{
    padding: 6px 0;
    text-indent: 10px;
    height: 22px;
    line-height: 22px;
    width: 472px;
    border: none;
    outline: 0;
    margin-left:15px;
    margin-top: 1px;
    background: #FFF;
}
.taobao-body .head .head-search .search-box .submit{
    background: linear-gradient(to right,#FF8F00,#FF5000);
    border-width:0;
    padding: 8px 17px;
    position: absolute;
    top:0;
    right:0;
    border-top-right-radius: 14px;
    border-bottom-right-radius:14px;
    color: #FFF;
    font-size: 17px;
    cursor: pointer;
}